.title {
    font-weight: 400;
    font-size: 35px;
    margin: 10px;
}


.overview:hover {
    overflow-y: scroll;
}
.overview  {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    height: 120px;
    overflow-y: hidden;
    margin: 10px;
}

.rating_container {
    display: flex;
    gap: 5px;
}

.rating {
    margin-top: 7px;
    margin-left: 5px;
}