.title {
    font-weight: 400;
    font-size: 35px;
    padding-left:10px;
}

.overview  {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    height: 120px;
    overflow-y: hidden;
    margin-top: 10px;
    padding-left:10px;
}

.rating_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 100%;
}
.rating {
    margin-top: 7px;
    margin-left: 5px;
}