
html, body{
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
body {
    background-color: black;
    color: white;
    font-family: Maximum Impact;

}
.suggestions {
   position: absolute; 
    z-index: 2;
  
    margin: 0 auto;
 
}
.suggestions-container {
    position: relative;
  
}
.suggestion-item {
    display: block;
    height: 50px;
    border-bottom: 1px solid black;
    line-height: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.suggestion-item img{
    width: 50px;
    height: auto;
    object-fit: cover;
    margin-right: 15px;
}

.search-bar {
    background-color: darkgray;
    opacity: 0.9;
    border-radius: 50px;
    border: 1px solid white;
    color: black;
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    font-size: larger;
    margin-top: 30px;
    width: 40%;
}
.search-bar:focus {
    border: 3px solid white!important;
}
@media screen and (max-width: 800px) {
    .search-bar {
        display: block;
       
        margin-top: 10px;
        width: 100%;
    }
    h1, h3 {
        margin-left: 15px;
    }
    .flex{
        flex-direction: column;
    }
}
